
  .chat-floating-button {
    background-color: transparent !important;
    border: none;
    position: fixed;
    bottom: 130px;
    right: 20px;
    z-index: 5;
    cursor: pointer;
    padding: 0;
    
  }
  
  .chat-floating-button:hover {
    background: none; 
  }
  
  .chat-icon {
    width: 60px;
    height: 60px;
  }
  
.text-danger{
  color:red;
}

  .chat-floating-button p{
    visibility: hidden;
  }
  .chat-floating-button:hover p {
    visibility: visible;
    color:black;
    background-color: white;
    padding:2px 10px 2px 10px;
    margin-right:-20px;
    font-size:15px;
    border-radius:15px;
    margin-left:20px;
  }


  @media (max-width: 768px) {
    .chat-floating-button {
      bottom: 90px; 
      right: 15px;   
    }
  
    .chat-icon {
      width: 50px;  
      height: 50px;
    }
  }
  
  
  @media (max-width: 480px) {
    .chat-floating-button {
      bottom: 80px; 
      right: 10px;   
    }
  
    .chat-icon {
      width: 40px;  
      height: 40px;
    }
  }
  
