
.today-special-deals {
  padding: 40px 16px;
  background-color: #f2f2f2;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.header h1 {
  font-size: 2rem;
  font-weight: 600;
}

.explore-navigation {
  display: flex;
  align-items: center;
  gap: 15px;
}

.arrow {
  width: 50px;
  height: 40px;
}

.arrow-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.explore button {
  margin-left: 8px;
}

.explore-all {
  background: #fff;
    border: none;
    border-radius: 20px;
    padding: 20px;
    font-weight:500;
    font-size: 1rem;
    cursor: pointer;
    color: black;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
}

.card {
  background: #fff;
  border-radius: 12px;
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: none;
}
.card:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-image img {
  width: 100%;
  height: 160px;
  border-radius: 8px;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.card_header {
  display: flex;
  gap: 0.25rem;
}

.category {
  font-size: 0.75rem;
  color: #a6a6a6;
}

.product-name {
  font-size: 1.25rem;
  font-weight: 600;
}

.card_pricing {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.price {
  font-size: 1.5rem;
  font-weight: 700;
}

.old-price {
  font-size: 1rem;
  color: #a6a6a6;
  text-decoration: line-through;
}

.card-actions {
  display: flex;
  justify-content: space-between;
}

.add-to-cart,
.wishlist {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 8px;
  cursor: pointer;
  border:none;
}

.card-actions > :where(.css-dev-only-do-not-override-7ny38l).ant-btn-variant-solid {
  background: #008d36!important;
}

.add-to-cart {
  width:75%;
  background: #008d36;
  padding: 0.2rem 1rem;
  color: #fff;
}

.wishlist {
  background: #f2f2f2;
  padding: 0rem 0.6rem;
}

.card-badge-left {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  display: flex;
  gap: 0.5rem;
}
.card-badge-right{
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  gap: 0.5rem;
}

.discount-badge{
  display:flex;
  background: #ececa3;
  border-radius: 50px;
  padding: 0.25rem 0.5rem 0.1rem 0.5rem;
  font-size: 0.75rem;
  font-weight: 600;
}

.weight-badge{
  background: #b5e550;
  border-radius: 50px;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  font-weight: 600;
}

.plus_minus{
  color: #008d36;
  background:#e4fff2;
  padding: 0.3rem 0.6rem;
  border-radius: 8px;
  cursor: pointer;
  border:none;
  box-shadow: none !important;
  outline: none !important; 
  
}

.quantity-control > :where(.css-dev-only-do-not-override-7ny38l).ant-btn-variant-outlined, :where(.css-dev-only-do-not-override-7ny38l).ant-btn-variant-dashed {
  color: #008d36 !important;
  background:#e4fff2!important;
}


.favorite-icon{
  font-size:20px;
}

.quantity-control{
  display:flex;
  justify-content: space-between;
  width: 75%;
}

.quantity{
  font-weight:600;
  font-size:20px;
}